body {
    background-color: #003cb5;
}


/* header */
.header {
    position: relative;
    width: 100%;
    height: 50vh;
}

.header div {
    position: absolute;
}

.header .logo {
    left: 50px;
    top: 50%;
    transform: translateY(-55%);
}

.header .date {
    left: 150px;
    top: 10%;
}

.header .menu {
    left: 50%;
    top: 50%;
    transform: translate(-10%, -50%);
}

.header .menu .move_dev, .header .menu .move_des {
    padding: 10px;
}

.header .move_dev {
    left: 40%;
}

.header .move_des {
    left: 60%;
}

.header .job {
    right: 30px;
    top: 50%;
}

.header .logo img {
    width: 84px;
    height: 234px;
}

.header .date img {
    width: 160px;
}

.header .menu img {
    width: 195px;
}

.header .job img {
    width: 80px;
}


/* comming */
.comming {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

#map {
    width: 400px;
    height: 400px;
}

.info {
    margin: 27px;
}

.title {
    color: #003cb5;
    background-color: #00f393;
    font-weight: bold;
    font-size: 120%;
    padding: 2px;
}

.way {
    color: #00f393;
}



/* footer */
footer {
    background: #242424;
}

.footer {
    width: 60%;
}

.social img {
    height: 30px;
}

@media screen and (max-width: 768px) {
    .header {
        height: 35vh;
    }

    .header .logo {
        left: unset;
        top: unset;
        transform: unset;
    }

    .header .menu {
        transform: translate(-20%, -50%);
    }

    .header .menu .move_dev, .header .menu .move_des {
        padding: unset;
    }

    .header .logo img {
        width: 57px;
        height: 154px;
        position: static;
        float: left;
        top: 0px;
        left: 0px;
        margin: 16px 50px 20px 16px;
    }

    .header .date img {
        display: none;
    }

    .header .menu img {
        width: 95px;
    }

    .header .job img {
        display: none;
    }

    #slide1 {
        content: url(../images/slide1_size.jpg);
    }

    #slide2 {
        content: url(../images/slide2_size.jpg);
    }

    #slide3 {
        content: url(../images/slide3_size.jpg);
    }

    .comming {
        display: block;
        margin: auto;
        width: 300px;
        margin-top: 60px;
    }

    #map {
        width: 300px;
        height: 200px;
    }

    .info {
        margin-left: 10px;
    }

    .title {
        font-size: 90%;
    }

    .way {
        font-size: 13px;
    }

    footer {
        font-size: 11px;
    }

    .footer {
        width: 80%;
    }

    .footer_tr {
        height: 80px;
    }

    .icon {
        width: 60%;
    }

    .icon img {
        width: 50%;
    }

    .social img {
        height: 23px;
    }
}