
        @media screen and (min-width: 769px) {
            
        }
        html,body{
            margin:0;
            background-color: #181d61;
        }
        .menu{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
            margin:80px 5px 0px 5px;
            width: 195px;
        }
         .zoom {
            -webkit-animation-name: zoomIn;
             animation-name: zoomIn;
        }
        .title{
            background-color:#f9cf0e;
            padding:2px;
            color:#181d61;
            font-weight: bold;
            font-size: 120%;
        }
        .way{
            color:#f9cf0e;
            font-size:15px;
        }
        footer{
            background-color: #242424;
            margin:0;
        }
        .logo_btn{
            width : 84px;
            height: 234px;
            position: absolute;
            top: 45px;
            left: 45px;
        }
        .date_btn{
            margin:24px 0px 0px 43px;
            width: 160px;
        }
        .job_btn{
            margin:0px 25px 0px 0px;
        }
        .slide_img{
            width: 100%;
        }

        .top{
            margin: 0px 0px 90px 0px;
        }
  
        /*======================================================================*/
        /*map*/
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 400px;  /* The width is the width of the web page */
        }
        .comming{
            display: flex;
            flex-direction: row;
            margin: auto;
            margin-bottom: 100px;
            width: 800px;
        }
        .way_info{
            margin: 27px;
        }
        @media screen and (max-width: 768px) {
            body{
                margin: 0px;
            }
            .menu{
                -webkit-animation-duration: 0.75s;
                animation-duration: 0.75s;
                -webkit-animation-name: bounceIn;
                animation-name: bounceIn;
                margin:30px 0px 0px 0px;
                width: 90px;
            }
            .zoom {
                -webkit-animation-name: zoomIn;
                animation-name: zoomIn;
            }
            .title{
                background-color:#f9cf0e;
                padding:2px;
                color:#181d61;
                font-weight: bold;
                font-size: 90%;
                text-align: center;
            }
            .way{
                color:#f9cf0e;
                font-size:13px;
            }
            footer{
                background-color: #242424;
                font-size:12px;
                margin:0;
            }
    
            /*======================================================================*/
            /*map*/
            #map {
                height: 200px;  /* The height is 400 pixels */
                width: 300px;  /* The width is the width of the web page */
            }
            .logo_btn{
                width : 57px;
                height: 154px;
                position: static;
                float: left;
                top: 0px;
                left: 0px;
                margin: 16px 50px 20px 16px;
            }
            .date_btn{
                margin:24px 0px 0px 35px;
                width: 160px;
                display: none;
            }
            .job_btn{
                margin:0px 25px 0px 0px;
                display: none;
            }
            .slide_img{
                width: 100%;
            }

            .top{
                margin: 0px 0px 50px 0px;
            }
            .comming{
                flex-direction: column;
                width: 300px;
                margin: auto;
                margin-bottom: 10px;
            }
            .video{
                height: 200px;
                width: 300px;
            }
            .way_info{
                margin-left: 10px;
            } 
            .footer{
                width: 80%;
            }
            .social{
                width: 60%;
            }
            .icon{
                width: 40%;
            }
            .icon_img{
                width: 50%;
            }
            .footer_tr{
                height: 80px;
            }
            #slide_img_1{
                content:url("../img/slide1_size.jpg");
            }
            #slide_img_2{
                content:url("../img/slide2_size.jpg");
            }
            #slide_img_3{
                content:url("../img/slide3_size.jpg");
            }
            #slide_img_4{
                content:url("../img/slide4_size.jpg");
            }
        }